
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
body{
    font-family: agbalumo;
    background-color: #557C55;
}

.titulo{
    margin: auto;
    padding: 10px;
    color: white;
    font-size: 35px;
    text-align: center;   
    background-color: #61A3BA;
    border: 1px solid rebeccapurple;
    border-radius: 40px;
}


h2{
    margin: 10px;
    font-size: 30px;
    text-align: center;
    color: white;   
}
.subtitulo{
    color: white;
}

#seleccionar-mascota{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tarjeta{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 20% 20%;
    gap: 10px;
    align-items: center;
    align-content: space-around;
    justify-content: space-between; 
    
    gap: 10px;
}
.tarjeta-pokemon{
    width: 116px;
    padding: 38px;
    height: 168px;
    background-color: chocolate;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    color: white;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
}

.tarjeta-pokemon:hover {
    background-color: aqua;
}
.tarjeta-pokemon:active {
    background-color: rgb(255, 153, 0);
}
.tarjeta-pokemon img{
    width: 80px;
    border-radius: 5px;
}

input{
    display: none;
}

span{
    background-color: rgb(148, 126, 101);
   
    border-radius: 15px;
    padding: 3px;
    margin: 3px;
    color: blue;

}


/*BOTONES*/

button{
    margin: 20px 10px 20px 10px;
    color: brown;
    background: transparent;
    border-radius: 30px; 
    border: 3px solid white;
    height: 37px;
    width: 180px;
    font-family: Roboto;
    color: brown;
    font-size: 20px;
}
button:hover{
    background-color: blueviolet;
}

#seleccionar-ataque{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seleccionar-ataque{
    display: flex;
    justify-content: center;
}

.combate{
    margin: 5px;
    display: grid;
    grid-template-columns: 130px 130px 120px;
    height: auto;
    justify-items: center;
    font-size: 20px;
    color: white;
    border: 1px red solid;
    border-radius: 10px;
    
}
#mensajes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background: #86b11a;
    border-radius: 10pc;
    
}

#mensajes p{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: aliceblue;
    
    
    
    justify-content: center;
    border-radius: 10pc;   
}
#combateFinalizado h1{  
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 300px;  
    background-color: rgb(35, 193, 221);
    color: white;
    border-radius: 20px;
}
.reiniciar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#ver-mapa{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mapa{
    border: 2px solid white;
    border-radius: 10px;
}

/*web responsivo*/

@media screen and (max-width:1021px){
    .title{
        margin: auto;        
    }
    .boton-de-ataques{
        height: 50px;
        width: 117px;
        font-size: 30px;
    }
    .seleccionar{
        height: 50px;
        width: 180px;
        font-size: 30px;
    }
    h1{
        margin: auto;
        width: 700px;
    }
    section{
        width: auto;
        font-size: 18px;
        display: flexbox;
        align-content: center;
        align-items: center;
    }    
    label{
        margin: 5px;
    }
    input{
        height: 20px;
        width: 20px;
    }
} 

@media screen and (max-width:800px){
    .title{
        margin: auto;        
    }
    .boton-de-ataques{
        height: 50px;
        width: 117px;
        font-size: 30px;
    }
    section{
        margin: 25px;
    }
    button{
        height: 40px;
        width: 220px;
        font-size: 20px;
    }
}
@media screen and (max-width:640px){
    
    .titulo{
        margin: 20px;
        padding: 10px;
    }
    #seleccionar-mascota{
        margin: auto;
        align-items: center;
    }
    #seleccionar-ataque{
        margin: auto;
        align-items: center;
    }
    section{
        width: 90%;
        margin: 2px;
        height: auto;
    }
    #boton-mascota{
        width: 180px;
        height: 50px;
        margin: 25px;
        font-size: 22px;
    }
    button{
        height: 40px;
        width: 170px;
        font-size: 20px;
    }
}

@media screen and (max-width:600px){
    .tarjeta-pokemon{
        padding: 5px;
        height: 160px;
        flex-direction: column-reverse;
        

    }
    #boton-mascota{
        width: 180px;
        height: 50px;
        margin: 25px;
        font-size: 22px;
    }

    #seleccionar-ataque{
        margin: auto;
        align-items: center;
    }
    section{
        width: 90%;
        margin: 25px;
        height: auto;
    }
    button{
        margin: 5px;
        height: 34px;
        width: 80px;
        font-size: 20px;
    }
}

@media screen and (max-width:360px){
    body{
        width: auto;
        display: flex;
        flex-direction: column;
        
    }
    .titulo-principal{
        width: auto;
        display: flex;
        justify-content: center;        
    }
    
    h2{
        font-size: 16px;
    }
    #seleccionar-mascota{
        width: auto;
        display: flex;
        align-items: center;
        flex-direction: column;        
    } 
    .titulo {
        margin: 10px;
        padding: 10px;
        color: white;
        font-size: 20px;
        text-align: center;
        background-color: #61A3BA;
        border: 1px solid rebeccapurple;
        border-radius: 40px;
    }
    .tarjeta{      
        flex-direction: column;
    }
    .tarjeta-pokemon {
        width: 140px;
        padding: 10px;
        height: 115px;
        background-color: chocolate;
        box-sizing: border-box;
        border: 1px solid;
        border-radius: 20px;
        display: flex;
        color: white;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .tarjeta-pokemon p{
        margin: 2px;
    }
    #boton-mascota{
        margin: 2px;
        width: 130px;
    }
    button{
        margin: 5px;
    }

    .seleccionar-ataque{
        display: flex;
        flex-direction: column;
    }
    #mensajes {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        background: #86b11a;
        border-radius: 10pc;
    }

    #reiniciar h1{
        font-size: 20px;
    }
}